body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(../image/Capa_fase1.png);
    background-size: cover;
}

.barra-fase3{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 10px;
}

.barra-fase3 > img{
    width: 90%;
}

.dicas-txt{
    color: white;
}

.dicas-txt > p{
    font-size: 13px;
}

button{
    border: 0px;
    padding: 15px 25px;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #2F4319;
    cursor: pointer;
    color: white;
}

button:hover{
    background-color: #293a16;
}

button:active{
    background-color: #233213;
}

label{
    color: white;
}

input{
    padding: 7px;
    border: 0px;
    border-radius: 5px;
    color: white;
}

input::placeholder{
    position: relative;
    width: 100%;
}

.question-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

.dicas-container{
    background-color: rgba(255, 0, 0, 0.364);
    padding: 20px;
    border-radius: 20px;
    width: 300px;
}

.absolute-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#result{
    text-align: center;
}