body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(../image/Capa_fase1.png);
    background-size: cover;
}

.barra-fase3{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 10px;
}

.barra-fase3 > img{
    width: 90%;
}

.dicas-txt{
    color: white;
}

.dicas-txt > p{
    font-size: 13px;
}

button{
    border: 0px;
    padding: 15px 25px;
    border-radius: 5px;
    margin-top: 15px;
    background-color: #2F4319;
    cursor: pointer;
    color: white;
}

button:hover{
    background-color: #293a16;
}

button:active{
    background-color: #233213;
}

label{
    color: white;
}

input{
    position: relative;
    color: black;
    width: 85%;
    height: 85%;
    text-align: center;
}

input::placeholder{
    position: relative;
    width: 100%;
}

.question-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

.dicas-container{
    background-color: #6E2A2A;
    opacity: 0.8;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
}

.absolute-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#result{
    text-align: center;
}

.inutil{
    width: 100%;
    height: 100%;
}

table {
    border-collapse: collapse;
    background-color: none;
    /* margin-top: 100px; */
    width: 492px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

td {
    width: 20px;
    height: 20px;
    text-align: center;
    color: white;
}

.caca-palavra-outline{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sep{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}