body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(../image/Capa_fase1.png);
    background-size: cover;
}

.barra-fase3{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 10px;
}

.barra-fase3 > img{
    width: 90%;
}
